@use "./variables";

.wrapper {
  width: 90%; 
  margin: 0 auto;
  max-width: 1260px;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, p, ul, footer {
  margin: 0;
  padding: 0;
}

.about, .skills, .contact, .portfolio {
  padding: 5rem 0;
}





