@use "./variables" as v;
header {
  background-image: url(../../../assets/header1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0 80rem;
  height: 105vh;
  .headerNav {
    ul {
      text-align: center;
      display: flex;
      gap: 2.5rem;
    }
    i {
      font-size: 3rem;
      background-color: v.$black;
      border: 3px solid white;
      border-radius: 50%;
      padding: 2rem;
      &:hover,
      &:focus {
        transform: scale(1.2);
        transition: 0.5s;
      }
    }
  }
  .headerText {
    position: relative;
    top: 15vh;
  }
}


