@use "./variables" as v;


header {
    background: url(../assets/a6Wave-9.1s-1561px.svg);
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}








