@use "./variables";

@media (max-width: 1200px) {
  .aboutImage {
    min-width: 90%;
  }
}

@media (max-width: 1100px) {
  .aboutSummary {
    width: 55%;
  }
  .imgContainer {
    width: 40%;
    text-align: center;
  }

.project {
  flex-wrap: wrap;
  justify-content: center;
}
.projectDescription {
  width: 100%;
  text-align: center;
}

.projectStack {
  justify-content: center;
}

.projectImage {
  width: 60%;
}

}


@media (max-width: 1000px) {
  .skillsList {
    width: 70%;
  }
}

@media (max-width: 850px) {
  .contact {
    flex-wrap: wrap;
    gap: 3rem;
    h3 {
      text-align: center;
    }
  }
  .contactText,
  .contactForm {
    width: 100%;
  }

  .contactUL {
    justify-content: center;
  }
 
  .flexContainer {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .aboutImage {
    width: 50%;
    margin-bottom: 1rem;
  }

  .aboutSummary {
    width: 100%;
  }

  // .about h3 {
  //   text-align: center;
  // }

}

@media (max-width: 700px) {
  .projectImage {
    width: 80%;
  }

  .skillsList {
    width: 90%;
  }

  .imgContainer {
    width: 50%;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .projectImage {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .skillsList li {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 4.5rem;
    line-height: 5rem;
  }

  nav {
    font-size: 1.2rem;
  }

 h1 {
  font-size: 6rem;
  line-height: 6.5rem;
 }

 h2 {
  font-size: 2rem;
  line-height: 3rem;
 }

  .contact {
    text-align: center;
  }

  button {
    color: black;
  }

  .projectLinks {
    font-size: 1.4rem;
  }

  .projectStack li {
    font-size: 1.4rem;
  }


}