@use "./variables" as v;

nav {
  // position: fixed;
  // top: 2.5rem;
  // right: 5rem;
  // background-color: rgba(255, 255, 255, 0.5);



  ul {
    display: flex;
    justify-content: center;


    li {
      padding: 2rem;
      text-transform: uppercase;
      font-weight: 400;
      &:hover,
      &:focus {
        transform: scale(1.2);
      }
    }
  }
}

