@use "./variables" as v;

// .portfolio {
//   border-bottom: 2px solid rgba(172, 103, 255, 0.5);
// }


.portfolio {
  h3 {
    text-align: center;
    padding-bottom: 5rem;
  }
}
.project {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  gap: 2.5rem;
}
.projectTextContainer {
  width: 45%;
}
.projectImg {
  width: 55%;
  border: 1px solid rgba(13, 13, 13, 0.5);
  border-radius: 1rem;
  img {
    border-radius: 1rem;
  }
}

.projectStack {
  background: rgba(188, 218, 251, 0.3);
  border-radius: 1rem;
  padding: 0.7rem 1rem;
  color: rgb(0, 105, 217);
}

.projectLinks  {
  a {
    background: rgb(12, 121, 238);
    font-size: 1.6rem;
    border-radius: 1.5rem;
    color: white;
    padding: 0.8rem 1.5rem;
    font-weight: 300;
    margin-right: 1rem;
    &:hover,
    &:focus {
      background-color: rgb(166, 0, 211);
      transition: 0.5s;
    }
  }
}

.projectSummary {
  padding: 1rem 0rem 1.5rem 0;
}