@use "./variables" as v;

.skills {
  text-align: center;
  .skillsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem 2rem;
    width: 60%;
    margin: 2rem auto 0;
    li {
      padding: 1rem;
      // &:hover,
      // &:focus {
      //   color: white;
      //   background: linear-gradient(to right, rgb(249, 97, 254), rgb(74, 204, 255));
      //   border-radius: 50%;
      //   padding: 2rem 2rem;
      //   border: 1px solid v.$black;
      //   text-shadow: 0.5px 0.5px black;
      // }
    }
    i {
      font-size: 6rem;
      display: block;
      margin-bottom: 1rem;
    }
  }
}