.skills {
  background-image: url("../assets/background1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.skillsSection {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
}

i {
  display: block;
  font-size: 6rem;
  margin-bottom: 1rem;
}

// .skillsList {
//   display: flex;
//   flex-wrap: wrap;
//   // justify-content: center;
//   width: 70%;
//   gap: 50px;
// }

.skillsList {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  width: 50%;
  li {
    width: 25%;
    padding: 2rem;
    &:hover,
    &:focus {
      transform: scale(1.2);
    }
  }
}



.skillsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}