@use "./variables" as v;

.skills {
  text-align: center;
  padding-bottom: 7rem;
  .skillsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem 2rem;
    width: 60%;
    margin: 2rem auto 0;
    li {
      padding: 1rem;
    }
    i {
      font-size: 6rem;
      display: block;
      margin-bottom: 1rem;
    }
  }
}