@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500|Lato:300,400|Poppins:300,400,500,800&display=swap');

// COLOURS 

// Colour variables
$grey: rgba(111, 108, 100, 0.4);
$black: rgb(18, 17, 17);

// Font families 
$poppins: 'Poppins', sans-serif; 
$raleway: 'Raleway', sans-serif;

// Base font size 