@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500|Lato:300,400|Poppins:300,400,500,800&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: #fff;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1260px;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, p, ul, footer {
  margin: 0;
  padding: 0;
}

.about, .skills, .contact, .portfolio {
  padding: 5rem 0;
}

html {
  font-size: 62.5%;
}

body, input, textarea, button {
  font-size: 1.8rem;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1.5px;
  line-height: 3rem;
  color: rgb(18, 17, 17);
}

h1, h2, h3, h4, a {
  font-family: "Poppins", sans-serif;
}

.h1Name, h3 {
  text-transform: uppercase;
}

h1, h2, .headerNav, .contact li, .submit {
  color: white;
}

h1 {
  font-size: 10rem;
  font-weight: 800;
  line-height: 12rem;
  letter-spacing: 0.4rem;
  text-shadow: 1px 1px black;
}

h2 {
  font-size: 5rem;
  font-weight: 300;
  line-height: 5.5rem;
  text-shadow: 0px 1px black;
}

h3 {
  font-size: 5rem;
  font-weight: 400;
  padding-bottom: 3rem;
}

h4 {
  font-size: 3.5rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

.contact h3 {
  text-shadow: 0.5px 0.5px white;
}

footer {
  font-size: 1.4rem;
  text-align: center;
  border-top: 2px solid black;
  padding: 0.5rem;
}

header {
  background-image: url(../../../assets/header1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0 80rem;
  height: 105vh;
}
header .headerNav ul {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}
header .headerNav i {
  font-size: 3rem;
  background-color: rgb(18, 17, 17);
  border: 3px solid white;
  border-radius: 50%;
  padding: 2rem;
}
header .headerNav i:hover, header .headerNav i:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header .headerText {
  position: relative;
  top: 15vh;
}

.about {
  text-align: right;
  margin-top: -7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.about .aboutText {
  width: 55%;
}
.about .aboutImgContainer {
  width: 35%;
  text-align: center;
}
.about .aboutImgContainer .aboutImg {
  border-radius: 50%;
  max-width: 75%;
  border: 1px solid black;
  padding: 1rem;
  display: inline-block;
}

.skills {
  text-align: center;
  padding-bottom: 7rem;
}
.skills .skillsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem 2rem;
  width: 60%;
  margin: 2rem auto 0;
}
.skills .skillsList li {
  padding: 1rem;
}
.skills .skillsList i {
  font-size: 6rem;
  display: block;
  margin-bottom: 1rem;
}

.portfolio h3 {
  text-align: center;
  padding-bottom: 5rem;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
  gap: 2.5rem;
}

.projectTextContainer {
  width: 45%;
}

.projectImg {
  width: 55%;
  border: 1px solid rgba(13, 13, 13, 0.5);
  border-radius: 1rem;
}
.projectImg img {
  border-radius: 1rem;
}

.projectStack {
  background: rgba(188, 218, 251, 0.3);
  border-radius: 1rem;
  padding: 0.7rem 1rem;
  color: rgb(0, 105, 217);
}

.projectLinks a {
  background: rgb(12, 121, 238);
  font-size: 1.6rem;
  border-radius: 1.5rem;
  color: white;
  padding: 0.8rem 1.5rem;
  font-weight: 300;
  margin-right: 1rem;
}
.projectLinks a:hover, .projectLinks a:focus {
  background-color: rgb(166, 0, 211);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projectSummary {
  padding: 1rem 0rem 1.5rem 0;
}

.contact {
  background-image: url(../../../assets/contactImage.svg);
  background-repeat: no-repeat;
  background-position: 75% 3rem;
  background-size: cover;
  text-shadow: -0.5px -0.5px 1px white;
}
.contact .contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.contact .contactTextContainer {
  width: 45%;
  position: relative;
  bottom: 3rem;
}
.contact .contactForm {
  width: 50%;
}

.contactUL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactUL li {
  padding: 3rem 3rem 0 0;
}
.contactUL li:hover, .contactUL li:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 1s;
  transition: 1s;
}
.contactUL li i {
  font-size: 4rem;
  text-align: center;
  background-color: rgb(18, 17, 17);
  border: 2px solid white;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  padding: 1.5rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
form .formFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
form input {
  width: 45%;
  background-color: transparent;
  border: none;
  border-bottom: 1.2px solid rgb(18, 17, 17);
  padding: 1rem 1.5rem;
  text-shadow: -0.5px -0.5px 1px white;
}
form textarea {
  border: 1.5px solid rgb(18, 17, 17);
  border-radius: 1rem;
  resize: none;
  padding: 2rem;
}
form .submit {
  width: 35%;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: rgb(35, 33, 33);
  border-radius: 10px;
  border: none;
  padding: 0.5rem 1.2rem;
}
form .submit:hover, form .submit:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}
form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
  opacity: 1;
}
form input::-moz-placeholder, form textarea::-moz-placeholder {
  opacity: 1;
}
form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  opacity: 1;
}
form input::-ms-input-placeholder, form textarea::-ms-input-placeholder {
  opacity: 1;
}
form input::placeholder,
form textarea::placeholder,
form button {
  opacity: 1;
}

@media (max-width: 1220px) {
  form .submit {
    width: 40%;
  }
  .about {
    padding-bottom: 7rem;
  }
  .about .aboutImgContainer {
    width: 40%;
  }
  .about .aboutText {
    width: 60%;
  }
}
@media (max-width: 1070px) {
  h1 {
    font-size: 9rem;
    letter-spacing: 0.35rem;
    line-height: 11rem;
  }
  h2 {
    font-size: 4.5rem;
  }
  .skills .skillsList {
    width: 75%;
  }
  .project {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 2px solid rgb(121, 121, 121);
    padding: 4rem 1rem;
    border-radius: 4rem;
  }
  .project .projectTextContainer {
    width: 92%;
  }
  .project .projectImg {
    width: 92%;
  }
  .contact .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .contactContainer .contactTextContainer {
    width: 90%;
    text-align: center;
  }
  .contact .contactContainer .contactForm {
    width: 90%;
  }
  .contactUL {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1020px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about h3 {
    padding-top: 4rem;
  }
  .about .aboutText {
    width: 100%;
    text-align: center;
  }
  .about .aboutImgContainer {
    width: 50%;
  }
}
@media (max-width: 915px) {
  header .headerText {
    top: 15vh;
  }
  header h1 {
    font-size: 8rem;
    line-height: 10rem;
  }
  header h2 {
    font-size: 3.7rem;
  }
  header .headerNav i {
    font-size: 2.5rem;
    padding: 1.8rem;
  }
}
@media (max-width: 820px) {
  body, input, textarea, button {
    font-size: 1.6rem;
  }
  header .headerText {
    top: 19vh;
  }
  header h1 {
    font-size: 7rem;
    line-height: 8rem;
  }
  header h2 {
    font-size: 3.5rem;
  }
  header .headerNav i {
    font-size: 2.3rem;
    padding: 1.6rem;
  }
  h3 {
    font-size: 4.5rem;
  }
  h4 {
    font-size: 3rem;
  }
  .skills .skillsList {
    width: 85%;
  }
  .contact li {
    padding: 3rem 2rem 0 0;
  }
  .contact .contactUL i {
    font-size: 3rem;
    width: 6.2rem;
    height: 6.2rem;
    padding: 1rem;
    line-height: 4rem;
  }
}
@media (max-width: 720px) {
  body, input, textarea, button, .projectLinks a {
    font-size: 1.5rem;
  }
  header {
    height: 105vh;
    padding: 4rem 0 50rem;
  }
  header h1 {
    font-size: 5.5rem;
    line-height: 7rem;
  }
  header h2 {
    font-size: 2.8rem;
  }
  header .headerNav i {
    font-size: 2rem;
    padding: 1.3rem;
  }
  header .headerText {
    top: 22vh;
  }
  h3 {
    font-size: 3.5rem;
    padding-bottom: 2.5rem;
  }
  h4 {
    font-size: 2.5rem;
  }
  .about h3 {
    padding-top: 3rem;
  }
  .skills {
    padding: 5rem 0;
  }
  .skills .skillsList i {
    font-size: 5rem;
  }
  .project {
    padding: 2.5rem 1rem 3rem;
  }
}
@media (max-width: 580px) {
  body, input, textarea, button {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }
  .projectLinks a {
    font-size: 1.3rem;
  }
  header {
    background-position: 35%;
    height: 100vh;
    padding: 4rem 0 0rem;
  }
  header h1 {
    font-size: 4.5rem;
    line-height: 5.5rem;
  }
  header h2 {
    font-size: 2.2rem;
    line-height: 3.5rem;
  }
  header .headerNav ul {
    gap: 1.6rem;
  }
  header .headerNav i {
    font-size: 1.8rem;
    padding: 1.1rem;
    border-width: 2px;
  }
  header .headerText {
    top: 18vh;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2.1rem;
  }
  .about h3 {
    padding: 2rem;
  }
  .about .aboutImgContainer {
    width: 60%;
  }
  .skills {
    padding: 3.5rem 0;
  }
  .skills h3 {
    padding-bottom: 1rem;
  }
  .skills .skillsList {
    gap: 3rem 2rem;
  }
  .portfolio h3 {
    padding-bottom: 2.5rem;
  }
  .project {
    margin-bottom: 2.5rem;
    border-width: 1.5px;
  }
  .contact h3 {
    padding-bottom: 2rem;
  }
  .contact li {
    padding: 2rem 2rem 0 0;
  }
  .contact .contactUL i {
    font-size: 2.5rem;
    width: 5.2rem;
    height: 5.2rem;
    padding: 0.9rem;
    line-height: 3rem;
  }
  .contact .contactTextContainer {
    bottom: 1.5rem;
  }
  form .submit {
    width: 50%;
  }
}
@media (max-width: 480px) {
  header h1 {
    letter-spacing: 0.2px;
  }
  header .headerText {
    top: 21vh;
  }
  .about .aboutImgContainer {
    width: 70%;
  }
  .skills .skillsList {
    width: 100%;
    gap: 2rem 1.5rem;
  }
  .skills .skillsList i {
    font-size: 4rem;
  }
  .project {
    padding: 2rem 1rem 2.3rem;
  }
  .contact li {
    padding: 2rem 1rem 0 0;
  }
}
@media (max-width: 435px) {
  header h1 {
    font-size: 3.8rem;
    line-height: 4.8rem;
  }
  header h2 {
    font-size: 2rem;
    letter-spacing: 1px;
  }
  header .headerNav ul {
    gap: 1rem;
  }
  header .headerNav i {
    font-size: 1.6rem;
    border-width: 1.8px;
    padding: 1rem;
  }
  .about .aboutImgContainer {
    width: 80%;
  }
}